.content {
    --slds-c-card-color-background: rgba(255, 255, 255, 0.43);
    --slds-c-card-shadow: 0 0px 5px rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 8px;
}

.title-container
{
    display:inline-block;
    padding-bottom: 10px;
}
.title
{
    font-size:medium;
    padding-left:10px;
    vertical-align: bottom;
    font-weight: 700;
    display:inline-block;
}
.my-icon
{
    --sds-c-icon-color-background: var(--dxp-g-brand,darkolivegreen);
    --slds-c-icon-color-foreground: white;

}
.signupinfo
{
    font-weight: 500;
    padding-left: 10px;
    color: darkblue;
}

.tracker_container {
    height:auto;
    display: grid;
    grid-template-columns: repeat(1,350px 1fr);
    column-gap: 20px;
    padding: 10px;
    max-width: 100%;
  }

  .contactinfo{
    grid-row: 1 / span 2;
  }

  @media only screen and (max-width: 768px) {
    .mob_content {
        --slds-c-card-color-background: rgba(255, 255, 255, 0.63);
        --slds-c-card-shadow: 0 0px 5px rgba(0, 0, 0, 0.53);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(255, 255, 255, 0.8);
        padding: 0.5rem;
        border-radius: 8px;
        
    }

    .tracker_container {
        height:auto;
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        padding: 10px;
        max-width: 100%;
      }
    
      .contactinfo{
        grid-row: auto;
      }
}